/* Reset some default styles for a cleaner look */
body, html {
       margin: 0;
       padding: 0;
       height: 100%;
       }

body {
       font-family: Arial, sans-serif;
       background-color: #333;
       /* background-image: url("image/background.jpg"); */
       color: #fff;
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       margin: 0;
       min-height: 100vh; /* Make sure the body covers the full viewport height */
       }

h4{
       text-align: center;
       }

.row {
       text-align: center;
       display: flex;
       flex-wrap: wrap; 
       justify-content: center;
       gap: 20px; 
       }

.column {
       text-align: center;
       flex: 1; 
       border: 1px solid black;
       padding: 100px;
       background-color: rgb(95, 95, 95);
       width: 100%;
       }

footer {
       background-color: rgb(25, 21, 21);
       text-align: center;
       padding: 45px;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       }

button {
       padding: 10px 40px; 
       margin: 50px; 
       background-color: #0074d9;
       color: #fff;
       border: none;
       cursor: pointer;
}